.nav-link.active {
  color: black !important;
  background-color: rgb(140, 140, 140) !important;
}

.nav-link {
  color: rgb(56, 56, 56) !important;
  background-color: rgb(226, 226, 226) !important;
}
.left{
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 2rem;
}
.tab-content-container {
  background-color: rgb(204, 236, 238);
  padding-bottom: 30%;
  padding-top: 2%;
}