
.tableContainer {
  overflow-x: hidden !important; /* Ensure horizontal scrolling is allowed */
  overflow-y: hidden !important; /* Hide any vertical overflow */
  margin-top: 30px !important;
}
.wcell {
  font-size: 80% !important;
}

.h4{
  font-family: 'Times New Roman', Times, serif;
}
.wrap-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-center .top-buttons {
  display: flex;
  gap: 5px;
}
.custom-form-container {
  margin-top: 3rem !important;
  background-color: rgb(241, 241, 241) !important;
  padding: 3px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1rem !important;
}

.datepickers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1px;
  border: 4px solid #ccc ;
  border-radius: 4px;
}

.datepicker-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.custom-datepicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc ;
  border-radius: 4px;
}

