Table,
Table th{
  border: 1px solid #cccccc;
  text-align: center;
  width: 10%;
  font-size: 90%;
  padding: 4px 8px;
  border-top: none !important;
  border-bottom: none !important;
}
th,
 td {
  text-align: center;
  vertical-align: middle;
}
td,
 td p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.title-layout {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 4px solid #666666;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
} 
.custom-form-container {
  background-color: rgb(241, 241, 241) !important;
  padding: 3px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
}

.datepickers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1px;
  border: 4px solid #ccc ;
  border-radius: 4px;
}

.datepicker-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.custom-datepicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc ;
  border-radius: 4px;
}
.left-right-gap {
  margin-left: 5px;
  margin-right: 5px;
}

